// https://coolors.co/293132-474044-4f5165-547aa5-50d8d7
$font-size: 16px;
$line-height: calc($font-size * 1.5);

$margin: 8px;
$padding: 8px;

$color-text: #293132;
$color-default: #4F5165;
$color-dark: #474044;
$color-light: #547AA5;
